body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #222;
}

.title {
    text-align: center;
    color: #663399;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
}

.about-section {
    max-width: 1200px;
    margin: 10rem auto;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    text-align: left;
	flex-direction: row-reverse;
	
}

.about-section p {
	text-align: justify;
    flex: 1;
    font-size: 2rem;
    color: #333;
    padding-left: 20px;
}

.about-img {
    max-width: 35%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

