.form-container  {
    background: rgba(255, 255, 255, 0.9);
    padding: 50px;
    margin: 50px auto;
    width: 50%;
    border-radius: 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    font-size: 16px;
}
.fieldset {
    border: 2px solid #ccc;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    background: #f9f9f9;
}
.legend {
    font-weight: bold;
    color: #444;
    padding: 0 10px;
}
.label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
    font-family: Arial, sans-serif;
	text-align: left;
}
.input, select, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
}
.button {
    width: auto;
    background-color: #73c2fb;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}
.button:hover {
    background-color: #73adc2;
    color: white;
}
.inline {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
.inline input {
    width: auto;
    margin-right: 50px;
}

.container .form-container {
    text-align: center;
}

.container .form-container a {
    margin: 10px;
}

.container .form-container img {
    max-width: 150px;
    height: auto;
}

