.header {
    background-color: #6bb9cc;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 70px;
}

.header img {
    width: 70px;
    height: 70px;
}

.header .L-Line, .header .R-Line {
  width: 500px;
  height: 150px;
  margin: 0 auto;
  overflow-y: hidden;
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.footer {
    margin-top: 30px;
	width: 100%;
    padding: 20px;
    background-color: #6bb9cc;
    color: white;
    text-align: center;
    clear: both;
}

.title {
    width: 30%;
    align-items: center;
    justify-content: center;
    height: auto;
    object-fit: contain;
    
    margin: 0 auto;
    display: flex;
}

.title h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d28e3f;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.title img {
    width: 100%;
    height: auto;
}

p {
    margin-left: 20px;
    margin-right: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 10px;
}